:root{
   --black: #000;
}
#slider .carousel-inner, #slider .carousel-item{
    height: 100%;
}

#slider {
    height: 60vh;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-container{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 15px 30px;
    z-index: 1000;
    text-align: right;
}
.row{
    background-color: black;
}
.col{
    opacity: 0.5;
}
.col.active{
    opacity: 1;
    border: 3px solid #25cff2;
}
